/*#project-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  opacity: .5;
}*/



/*********************************
*           GENERAL
**********************************/



@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Regular.woff2') format('woff2'),
		url('fonts/Raleway-Regular.woff') format('woff'),
		url('fonts/Raleway-Regular.ttf') format('truetype'),
		url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('fonts/Raleway-SemiBold.woff') format('woff'),
		url('fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Bold.woff2') format('woff2'),
		url('fonts/Raleway-Bold.woff') format('woff'),
		url('fonts/Raleway-Bold.ttf') format('truetype'),
		url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Medium.woff2') format('woff2'),
		url('fonts/Raleway-Medium.woff') format('woff'),
		url('fonts/Raleway-Medium.ttf') format('truetype'),
		url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'),
		url('fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Thin.woff2') format('woff2'),
		url('fonts/Raleway-Thin.woff') format('woff'),
		url('fonts/Raleway-Thin.ttf') format('truetype'),
		url('fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Light.woff2') format('woff2'),
		url('fonts/Raleway-Light.woff') format('woff'),
		url('fonts/Raleway-Light.ttf') format('truetype'),
		url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1078px;
  margin: 0 auto;
  /*background-color: rgba(125, 25, 25, 0.2);*/
}

.row::after,
.row::before,
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}



/*********************************
*           HEADER
**********************************/



header {
  background-color: black;
}

header .container {
  height: 41px;
}

header .column {
  width: 50%;
  height: 100%;
  float: left;
}

.logo {
  margin-top: 11px;
  margin-left: 8px;
}

.logo a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  word-spacing:2px;
  letter-spacing: .1px;
  font-weight: 600;
}

.logo a span {
  color: rgb(36, 186, 159);
  font-weight: bold;
}

.main-menu {
  margin-left: 160px;
}

.menu {
  margin: 0 auto;
}

.menu > li {
  display: inline-block;
}

.menu > li > a,
.menu > li:first-of-type {
  margin-left: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 14px 12px 10px 11px;
}

.menu > li:last-child {
  margin-left: -15px;
}



/* --------------- SUB-MENU: ABOUT --------------- */



.menu {
  position: relative;
}

.menu > li:first-of-type {
  cursor: pointer;
}

.about {
  position: absolute;
  display: none;
  top: 40px;
  left: 19px;
  padding-top: 11px;
  z-index: 1;
}

.about li {
  list-style-type: none;
}

.about a {
  font-size: 16px;
  color: white;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0px;
  display: block;
  background-color: black;
  padding: 3px 20px 6px 13px;
}

.about li:first-of-type a {
  padding: 14px 20px 6px 14px;
}

.about li:nth-of-type(3) a {
  padding: 3px 20px 8px 13px;
}

.about::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: 87px;
  background-color: black;
  transform: rotate(45deg);
}

.menu li:first-of-type:hover .about  {
  display: block;
}



/*******************************
 *           MAIN
*******************************/

/* --------------- SLIDER --------------- */



.sign {
  width: 9%;
}

.black-chair {
  width: 36%;
}

.chair-info {
  width: 46%;
}

main section:first-of-type {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 61%, rgba(208,209,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(61%, rgba(245,245,245,1)), color-stop(100%, rgba(208,209,216,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 61%, rgba(208,209,216,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 61%, rgba(208,209,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 61%, rgba(208,209,216,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 61%, rgba(208,209,216,1) 100%);
}

.slider .column {
  float:left;
  height: 504px;
}

.lt-sign,
.gt-sign {
  width: 100%;
  position: relative;
}

.sign span {
  color: rgb(36, 186, 159);
  font-size: 75px;
  padding: 10px;
  vertical-align: middle;
  font-weight: 300;
  cursor: pointer;
}

.lt-sign span {
  position: absolute;
  top: 200px;
  left: 2px;
}

.gt-sign span {
  position: absolute;
  top: 200px;
  right: 10px;
}

.black-chair {
  background-image: url("images/black_chair.png");
  background-repeat: no-repeat;
  background-size: 151%;
  background-position: top 70px left -126px;
}

.chair-info h1 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin-top: 134px;
  margin-bottom: 30px;
  padding-right: 53px;
  font-weight: 400;
}

.chair-info h1 span {
  color: rgb(36, 186, 159);
  font-weight: 600;
}

.chair-info p {
  font-size: 15px;
  text-align: center;
  line-height: 21px;
  width: 420px;
  margin: 0 0 45px 12px;
  word-spacing: 1px;
}

.chair-info a {
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 23px;
  font-weight: 400;
  word-spacing: 5px;
  padding: 14px 33px 12px 45px;
  background-color: rgb(36, 186, 159);
  color: white;
  border-radius: 10px;
  margin-left: 93px;
}



/* --------------- GALLERY --------------- */



.gallery .column {
  width: 33.33%;
  height: 350px;
  float: left;
}

.picture-one,
.picture-two {
  width: 329px;
  height: 225px;
  margin-top: 28px;
  margin-left: 7px;
}

.picture-info {
  width: 340px;
  height: 253px;
  margin-top: 27px;
  margin-left: 4px;
  border: 2px solid lightgrey;
}

.picture-one {
  background-image: url("images/box1_img.jpg");
  position: relative;
  display: table;
}

.opacity-area {
  width: 329px;
  height: 64px;
  position: absolute;
  top: 148px;
  background-color: rgba(255, 255, 255, 0.3);
  display: table-cell;
}

.picture-one span {
  display: table-cell;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 18px;
}

.picture-one span::after {
  content: "";
  top: 35px;
  left: 13px;
  width: 139px;
  height: 7px;
  position: absolute;
  background-color: rgb(36, 186, 159);
}

.picture-two {
  background-image: url("images/box2_img.jpg");
  position: relative;
  display: table;
}

.picture-two span {
  display: table-cell;
  font-weight: 600;
  padding-top: 14px;
  padding-left: 12px;
}

.picture-two span::after {
  content: "";
  top: 35px;
  left: 13px;
  width: 139px;
  height: 7px;
  position: absolute;
  background-color: rgb(36, 186, 159);
}

.picture-info {
  position: relative;
}

.picture-info span {
  font-weight: 600;
  margin-left: 20px;
  padding-top: 27px;
  position: absolute;
}

.picture-info span::after{
  content: "";
  top: 48px;
  left: 1px;
  width: 139px;
  height: 7px;
  position: absolute;
  background-color: rgb(36, 186, 159);
}

.picture-info p {
  font-size: 14px;
  line-height: 20px;
  width: 287px;
}

.first-par {
  margin-top: 68px;
  margin-left: 20px;
}

.second-par {
  margin-top: 22px;
  margin-left: 20px;
}



/* --------------- PRICE-LIST --------------- */




main section:nth-of-type(3){
  background-color: rgb(241, 241, 241);
}

.title {
  position: relative;
  height: 100px;
}

.title span {
  text-transform: uppercase;
  font-size: 20px;
  top: 45px;
  left: 8px;
  letter-spacing: 1px;
  position: absolute;
}

.title span::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -2px;
  width: 320px;
  height: 7px;
  background-color: rgb(36, 186, 159);
}

.prices .column {
  width: 33.33%;
  height: 624px;
}

.basic,
.standard,
.advance {
  width: 330px;
  height: 500px;
  border: 2px solid rgb(194, 194, 194);
  position: relative;
  display: block;
  background-color: rgb(249, 249, 249);
}

.standard {
  border: 2px solid rgb(36, 186, 159);
  background-color: rgb(36, 186, 159);
}

.basic {
  margin-top: 58px;
  margin-left: 5px;
}

.advance {
  margin-top: 58px;
  margin-left: 10px;
}

.standard {
  margin-top: 59px;
  margin-left: 7px;
}

.small-circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid rgb(194, 194, 194);
  position: absolute;
  top: -37px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}

.standard .small-circle {
  border: 13px solid rgb(36, 186, 159);
}

.disc {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(194, 194, 194);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.standard .disc {
  background-color: white;
}

.basic > span:first-of-type,
.standard > span:first-of-type,
.advance > span:first-of-type {
  text-transform: uppercase;
  font-size: 23px;
  color: rgb(36, 186, 159);
  display: block;
}

.basic > span:first-of-type {
  margin: 26px 0 20px 100px;
}

.advance > span:first-of-type {
  margin: 26px 0 20px 72px;
}

.standard > span:first-of-type {
  color: white;
  margin: 26px 0 20px 72px;
}

.price-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgb(194, 194, 194);
  margin: 26px 10px 10px 99px;
  background-color: white;
  position: relative;
  margin-bottom: 35px;
}

.standard .price-circle {
  border: 2px solid rgb(36, 186, 159);
}

.basic .price-circle span:first-child,
.standard .price-circle span:first-child,
.advance .price-circle span:first-child {
  font-size: 45px;
  color: rgb(194, 194, 194);
  font-weight: 600;
  display: block;
  margin-bottom: 2px;
}

.basic .price-circle span:first-child {
  padding: 25px 0 0 32px;
}

.advance .price-circle span:first-child {
  padding: 25px 0 0 15px;
}

.standard .price-circle span:first-child {
  color: rgb(36, 186, 159);
  padding: 25px 0 0 32px;
}

.basic .price-circle span:nth-child(2),
.standard .price-circle span:nth-child(2),
.advance .price-circle span:nth-child(2) {
  font-size: 16px;
  color: rgb(194, 194, 194);
  font-weight: 600;
  position: absolute;
}

.basic .price-circle span:nth-child(2) {
  top: 27px;
  right: 24px;
}

.advance .price-circle span:nth-child(2) {
  top: 28px;
  right: 24px;
}

.standard .price-circle span:nth-child(2) {
  color: rgb(36, 186, 159);
  top: 27px;
  right: 24px;
}

.basic .price-circle span:last-child,
.standard .price-circle span:last-child,
.advance .price-circle span:last-child {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: rgb(194, 194, 194);
  letter-spacing: 1px;
}

.basic .price-circle span:last-child {
  padding-left: 24px;
}

.advance .price-circle span:last-child {
  padding-left: 22px;
}

.standard .price-circle span:last-child {
  color: rgb(36, 186, 159);
  padding-left: 23px;
}

.options ul {
  font-size: 24px;
  text-align: center;
  width: 326px;
  list-style-type: none;
}

.options ul li:nth-of-type(2n+1) {
  margin-left: -40px;
  padding: 5px 0 9px 10px;
  background-color: rgb(228, 228, 228);
  color: rgb(143, 143, 143);
}

.standard .options ul li:nth-of-type(2n+1) {
  background-color: white;
  color: rgb(158, 158, 158);
}

.options ul li:nth-of-type(2n+2) {
  margin-left: -40px;
  padding: 7px 0 9px 7px;
  background-color: rgb(241, 241, 241);
  color: rgb(116, 116, 116);
}

.standard .options ul li:nth-of-type(2n+2) {
  background-color: rgb(241, 241, 241);
  color: rgb(158, 158, 158);
}

.basic a,
.standard a,
.advance a {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: rgb(36, 186, 159);
  color: white;
  border-radius: 10px;
  display: block;
}

.basic a {
  padding: 9px 29px;
  margin: 111px 100px 9px 105px;
}

.advance a {
  padding: 9px 27px;
  margin: -1px 101px -23px 104px;
}

.standard a {
  background-color: white;
  color: rgb(36, 186, 159);
  padding: 9px 29px;
  margin: 70px 100px 9px 104px;
}



/* --------------- CONTACT-FORM --------------- */



.column.main-form {
  width: 60%;
}

.column.red-chair {
  width: 40%;
}

.to-contact .column {
  float: left;
}

.to-contact {
  height: 420px;
}

.contact .title span {
  text-transform: uppercase;
  font-size: 20px;
  top: 34px;
  left: 14px;
  letter-spacing: 1px;
  position: absolute;
}

.column.main-form {
  padding: 3px 1px 10px 12px;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid rgb(36, 186, 159);
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: rgb(158, 158, 158);
  margin: 14px 0;
  padding: 13px 0 14px 14px;
}

form textarea {
  resize: none;
  height: 189px;
  margin-top: 11px;
}

form input:nth-last-of-type(2) {
  margin-bottom:12px;
  }

.red-chair img {
  margin: -11px 10px 10px 75px;
  margin-bottom: 10px;
}

.agreement p {
  font-size: 20px;
  margin: 0 0 0 51px;
}

.check-area {
  position: relative;
  padding: 11px 16px 20px 0px;
}

.check-area input {
  display: block;
  opacity: 0;
  height: 46px;
  width: 46px;
  position: absolute;
  cursor: pointer;
}

.check-area input:checked + label::after {
  display: block;
}

.check-area label {
  display: block;
  position: relative;
  font-size: 28px;
  color: rgb(179, 179, 179);
  padding-left: 65px;
  padding-top: 10px;
  cursor: pointer;
}

.check-area label::before, .check-area label::after {
  border: 1px solid rgb(36, 186, 159);
  content: "";
  display: block;
  left: 56px;
  top: 8px;
  width: 46px;
  height: 46px;
  position: absolute;
}

.check-area label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.check-area label .active {
  background: url("../images/form_ok.jpg");
  width: 48px;
  height: 40px;
}

[type="submit"] {
  margin: 16px 0 0 56px;
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(36, 186, 159);
  border: 1px solid rgb(36, 186, 159);
  padding: 14px 109px;
  color: white;
  outline: 0;
  cursor: pointer;
}

.btn-hover:hover {
  background-color: rgb(127, 255, 212);
  border: 1px solid rgb(127, 255, 212);
}



/*******************************
 *           FOOTER
*******************************/



.column.rights {
  width: 60%;
}

.column.footer-icon {
  width: 20%;
}

.column.footer-logo {
  width: 20%;
}

.rights span {
  color: rgb(152, 152, 152);
  display: block;
  margin: 66px 10px 10px 5px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: -1px;
}

.icon li {
  display: inline-block;
}

.icon {
  margin: 52px 0 0 16px;
}

.logo-text {
  margin: 64px 0 0 59px;
}

.logo-text span {
  text-transform: uppercase;
  font-size: 19px;
  color: rgb(152, 152, 152);
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
}

.logo-text .bold-text {
  font-weight: bold;
}
